<!doctype html>
<html lang="en">
    <head>
        <% include ./admin-head %>
        <title>Admin | Pages</title>
    </head>

    <body>
        <div id="main-menu" class="slideout-right">
            <div class="slideout-top">
                <i id="close-menu" class="fa fa-2x fa-chevron-circle-left rotatable" aria-hidden="true"></i>
                <span>Options</span>
            </div>
            <div class="slideout-main" id="slideout-main">
                <a href="/<%=sitename%>/admin/pages">Pages</a>
                <a href="/<%=sitename%>/logout">Log Out</a>
            </div>
        </div>
        <div class="container-fluid admin-flex-wrapper">
            <% include ./admin-nav %>
            <div class="row admin-main">
                <div class="pagelist-wrapper">
                    <div class="pagelist-instructions">
                        Your available pages are below.  Click the edit icon to edit the basic info about the page (title, password protection, etc).  Click the arrow icon to view the page contents and edit text, pictures, layout, and the menu.
                    </div>
                    <div class="row">
                        <% for(var i = 0; i < pageList.length; i += 1) { %>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="pagelist-inner">
                                    <h3><%= pageList[i].title %></h3>
                                    <div class="pagelist-main">
                                        Page desc of some kind?
                                    </div>
                                    <div class="pagelist-links">
                                        <a class="open-modal" data-pageid="<%= pageList[i].page_id %>">Edit Page Basics</a>
                                        <a href="pages/<%= pageList[i].page_id %>">Edit Page Content</a>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="pagelist-inner">
                                <h3>Create New Page</h3>
                                <div class="pagelist-main">
                                    Use this link to create a new page- you'll set up the basics and then can start adding content.
                                </div>
                                <div class="pagelist-links">
                                    <a class="open-modal" id="addnew">Edit Page Basics</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="row admin-footer">
                Admin Footer links here
            </div>
        </div>

        <!--Shared modal-->
        <div class="nord-modal nord-modal-fade" tabindex="-1" role="dialog" id="nord-modal">
            <form id="modal-edit-form">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit Page Info</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <div class="flex-row">
                            <div class="form-group">
                                <label>Title</label>
                                <small><em>Page Title</em></small><br />
                                <input type="text" name="title" class="form-control" id="title" placeholder="Title" />
                            </div>
                        </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" id="item-delete">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save Changes" />
                </div>
                </div>
            </div>
            </form>
        </div>

        <!--Slideout/modal background-->
        <div id="bg-screen" class="bg-screen"></div>
    </body>
    <script src="/static/js/dist/adminPages.bundle.js"></script>
</html>