<!doctype html>
<html lang="en">
    <head>
        <meta content="text/html" charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Testing...">
        <meta name="author" content="Nord Enterprises">

        <!--update this with values from db-->
        <meta name="DESCRIPTION" content="Admin panel description">
        <meta name="KEYWORDS" content="Admin panel keywords">

        <title>Admin | Pages</title>

        <!--Global Stylesheets-->
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.minNord.css" />

        <% include ../styles/style-main %>
        <% include ./styles/style-admin %>

        <style type="text/css">
            .page-lnf-bg {
                background: <%= hoa_lookfeel['page_bg_color'] %>;
            }
        </style>

        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div id="main-menu" class="slideout-right">
            <span id="close-menu" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            This will be the menu for more options?<br />
            <a href="/<%=sitename%>/logout">Log Out</a>
        </div>
        <div class="container-fluid admin-flex-wrapper">
            <div class="row menu-row">
                <div class="flex-row-apart">
                    <div class="page-menu-left">
                        Editing page:
                        <select id="switch-page" class="admin-select-list form-inline form-group">
                            <% for(var i = 0; i < pageList.length; i += 1) { %>
                                <option
                                    <% if(pageList[i].selected) { %>
                                        selected 
                                    <% } %>
                                    value="<%= pageList[i].page_id %>"
                                >
                                    <%= pageList[i].title %>
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <div class="page-menu-right">
                        <span id="open-menu" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            <div class="row admin-main page-lnf-bg">
                <%- include(main_page_template) %>
            </div>
            <div class="row admin-footer">
                Admin Footer links here
            </div>
        </div>
        <div id="bg-screen" class="bg-screen"></div>
    </body>
    <% include ./scripts-admin %>
    <script>
        var openMenuButton = document.querySelector('#open-menu');
        var closeMenuButton = document.querySelector('#close-menu');
        var menu = document.querySelector('#main-menu');
        var bg = document.querySelector('#bg-screen');
        var switchPageSelect = document.querySelector('#switch-page');

        openMenuButton.addEventListener('click', function() {
            menu.classList.add('slideout-right--show');
            bg.classList.add('bg-show');
        });

        [closeMenuButton, bg].forEach(function(element) {
            element.addEventListener('click', function() {
                menu.classList.remove('slideout-right--show');
                bg.classList.remove('bg-show');
            });
        });

        switchPageSelect.addEventListener('change', function(evt) {
            var pathArr = window.location.pathname.split('/');
            pathArr[4] = evt.target.value;
            var newPath = window.location.origin + pathArr.join('/');
            window.location = newPath;
        });
    </script>
</html>