<!doctype html>
<html lang="en">
    <head>
        <% include ./admin-head %>
        <title>Admin | Pages</title>
        <% include ../styles/style-main %>
        <style type="text/css">
            .page-lnf-bg {
                background: <%= hoa_lookfeel['page_bg_color'] %>;
            }
        </style>
    </head>

    <body>
        <div id="main-menu" class="slideout-right">
            <div class="slideout-wrapper">
                <div class="slideout-header">
                    <span id="close-menu" class="glyphicon glyphicon-circle-arrow-left rotatable" aria-hidden="true"></span>
                    <span>Options</span>
                </div>
                <div class="slideout-main">
                    <div class="slideout-options">
                        <div class="slideout-options__panel">
                            <button class="slideout-options__button" id="acc1">
                                Upload a picture
                            </button>
                            <div class="slideout-options__content" id="acc1content">
                                Picture uploading info and button
                            </div>
                        </div>
                        <div class="slideout-options__panel">
                            <button class="slideout-options__button" id="acc2">
                                Upload a document
                            </button>
                            <div class="slideout-options__content" id="acc2content">
                                Document uploading info and button
                            </div>
                        </div>
                        <div class="slideout-options__panel">
                            <button class="slideout-options__button" id="acc3">
                                Another Task
                            </button>
                            <div class="slideout-options__content" id="acc3content">
                                More Info!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slideout-footer">
                    <h4>Quicklinks</h4>
                    <div class="slideout__quicklinks">
                        <a href="/<%=sitename%>/admin">Dashboard</a>
                        <a href="http://help.home-owners-assoc.com" target="_blank">Help Site</a>
                        <a href="/<%=sitename%>/admin/pages">Pages</a>
                        <a href="/<%=sitename%>/admin/features">Features</a>
                        <a href="/<%=sitename%>/admin/pages">Users</a>
                        <a href="/<%=sitename%>/logout">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid admin-flex-wrapper">
            <% include ./admin-nav %>

            <div class="row admin-main page-lnf-bg">
                <%- include(main_page_template) %>
            </div>
            <div class="row admin-footer">
                Admin Footer links here
            </div>
        </div>

        <div class="nord-modal nord-modal-fade" tabindex="-1" role="dialog" id="menuItemModal">
            <form id="menu-item-edit-form">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modal-title">Edit Menu Item</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                                <div class="flex-row">
                                    <div class="form-group half-width">
                                        <label>Title</label>
                                        <small><em>Text to appear as title</em></small><br />
                                        <input type="text" name="title" class="form-control" id="title" placeholder="Title" />
                                    </div>
                                    <div class="form-group half-width">
                                        <label>Help Text</label>
                                        <small><em>Will show on hover- optional</em></small><br />
                                        <input type="text" name="help_text" class="form-control" id="help_text" placeholder="Help Text" />
                                    </div>
                                </div>
                                <div class="flex-row">
                                    <div class="form-group full-width">
                                        <label>Action</label>
                                        <small><em>Choose type of link</em></small><br />
                                        <div class="flex-row" style="justify-content:space-around;">
                                            <div>
                                                Link to a feature 
                                                <input type="radio" name="action" value="f" />
                                            </div>
                                            <div>
                                                Link to a page 
                                                <input type="radio" name="action" value="p" />
                                            </div>
                                            <div>
                                                Link to an external site 
                                                <input type="radio" name="action" value="x" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--Shows if item links to a page-->
                                <div class="flex-row" id="button-page">
                                    <div class="form-group full-width">
                                        <label>Current link</label>
                                        <small><em>Page this button links to</em></small><br />
                                        <select name="page_action_id" id="page_action_id" class="form-control">
                                            <% for(var i = 0; i < pageList.length; i += 1) { %>
                                                <option value="<%= pageList[i].page_id %>">
                                                    <%= pageList[i].title %>
                                                </option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>

                                <!--Shows if item links to a feature-->
                                <div class="flex-row" id="button-feature">
                                    <div class="form-group half-width">
                                        <label>Current link</label>
                                        <small><em>Feature this button links to</em></small><br />
                                        <select name="feature_action_id" id="feature_action_id" class="form-control">
                                            <% for(var i = 0; i < featureList.length; i += 1) { %>
                                                <option value="<%= featureList[i].feature_id %>">
                                                    <%= featureList[i].title %>
                                                </option>
                                            <% } %>
                                        </select>
                                        <div>
                                            Go directly to a specific feature item 
                                            <input type="checkbox" name="choose_feature_item" id="choose_feature_item" />
                                        </div>
                                    </div>
                                    <div class="form-group half-width opacity-none opacity-transition" id="select_feature_item">
                                        <label>Specific Item</label>
                                        <small><em>Choose Individual Item</em></small><br />
                                        <select name="action_item" id="action_item" class="form-control">
                                            <% for(var i = 0; i < featureItemList.length; i += 1) { %>
                                                <option value="<%= featureItemList[i].item_id %>"
                                                    data-parentfeature="<%= featureItemList[i].feature_id %>">
                                                    <%= featureItemList[i].title %>
                                                </option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>

                                <!--Shows if item links to an external site-->
                                <div class="flex-row" id="button-external">
                                    <div class="form-group full-width">
                                        <label>Current link</label>
                                        <small><em>Url this button links to</em></small><br />
                                        <input type="text" name="action_url" class="form-control" id="action_url" placeholder="Enter url" />
                                    </div>
                                </div>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger pull-left" id="menuitem-delete">Delete</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-primary" value="Save Changes" />
                        </div>
                        <div class="modal-confirm" id="modal-confirm">
                            <div class="modal-confirm-message text-warning">
                                Are you sure you want to delete this menu item?
                            </div>
                            <div class="modal-confirm-buttons">
                                <button type="button" class="btn btn-danger" id="confirm-delete">Yes - Delete</button>
                                <button type="button" class="btn btn-primary" id="cancel-delete">No - Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!--Slideout/modal background-->
        <div id="bg-screen" class="bg-screen"></div>

        <!--Notification system-->
        <div id="notifyr" class="notifyr"></div>
    </body>
    
    <script src="/static/js/dist/adminPage.bundle.js"></script>
</html>