<div class="vertical-menu-wrapper">
    <% for(var i = 0; i < menuItems.length; i += 1) { %>
        <a class="menuitem-vertical-img openMenuItemModal"
            title="Edit Menu Item"
            data-helptext="<%= menuItems[i]['help_text'] %>"
            data-title="<%= menuItems[i]['title'] %>"
            data-action="<%= menuItems[i]['action'] %>"
            data-linkeditemid="<%= menuItems[i]['action_id'] %>"
            data-linkeditemspecific="<%= menuItems[i]['action_item'] %>">
            <%= menuItems[i]["title"] %>
            <span class="glyphicon glyphicon-pencil edit-icon-right" aria-hidden="true"></span>
        </a>
    <% } %>
    <a class="menuitem-vertical-img openMenuItemModal" id="addnew" title="Add Menu Item">
        Add Menu Item
        <span class="glyphicon glyphicon-plus edit-icon-right" aria-hidden="true"></span>
    </a>
</div>